body {
    margin: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    display: flex;
    border: thick double #32a1ce;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
    cursor: pointer;
}

div {
    flex-shrink: 1;
}

