body {
    margin: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    display: flex;
    border: thick double #32a1ce;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
    cursor: pointer;
}

.buttons {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.prompt,
.rgb {
    background-color: aqua;
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

div {
    flex-shrink: 1;
    justify-content: center;
}

